openapi: 3.0.3
info:
  title: Albato Automations API
  description: >-
    REST API for managing automation workflows in the Albato no-code integration
    platform. Supports creating, reading, updating, enabling, and disabling
    multi-step automation workflows that connect 1,000+ apps.
  version: 1.0.0
  contact:
    name: Albato Support
    url: https://albato.com
servers:
  - url: https://albato.com/api/v1
    description: Albato API
security:
  - ApiKeyAuth: []
tags:
  - name: Automations
    description: Manage automation workflows
  - name: Executions
    description: Monitor automation execution history
paths:
  /automations:
    get:
      operationId: listAutomations
      summary: List automations
      description: Returns a list of all automation workflows for the current user.
      tags:
        - Automations
      parameters:
        - name: status
          in: query
          description: Filter by automation status
          schema:
            type: string
            enum: [active, inactive, all]
            default: all
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: List of automations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutomationList'
        '401':
          description: Unauthorized
    post:
      operationId: createAutomation
      summary: Create an automation
      description: Creates a new automation workflow.
      tags:
        - Automations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutomationRequest'
      responses:
        '201':
          description: Automation created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automation'
        '400':
          description: Invalid request
  /automations/{id}:
    get:
      operationId: getAutomation
      summary: Get an automation
      description: Returns details for a specific automation workflow.
      tags:
        - Automations
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Automation details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automation'
        '404':
          description: Automation not found
    put:
      operationId: updateAutomation
      summary: Update an automation
      description: Updates an existing automation workflow.
      tags:
        - Automations
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutomationRequest'
      responses:
        '200':
          description: Automation updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automation'
    delete:
      operationId: deleteAutomation
      summary: Delete an automation
      description: Deletes an automation workflow.
      tags:
        - Automations
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Automation deleted
  /automations/{id}/enable:
    post:
      operationId: enableAutomation
      summary: Enable an automation
      description: Activates an automation to begin processing triggers.
      tags:
        - Automations
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Automation enabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automation'
  /automations/{id}/disable:
    post:
      operationId: disableAutomation
      summary: Disable an automation
      description: Deactivates an automation to pause processing.
      tags:
        - Automations
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Automation disabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Automation'
  /automations/{id}/executions:
    get:
      operationId: listExecutions
      summary: List automation executions
      description: Returns execution history for a specific automation.
      tags:
        - Executions
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [success, error, all]
            default: all
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: List of executions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionList'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: API key for Albato account access
  schemas:
    AutomationStep:
      type: object
      properties:
        app:
          type: string
          description: App identifier (e.g., hubspot, google-sheets)
        type:
          type: string
          enum: [trigger, action, condition, delay]
        event:
          type: string
          description: Trigger or action event name
        config:
          type: object
          additionalProperties: true
          description: Step-specific configuration
    AutomationRequest:
      type: object
      required:
        - name
        - steps
      properties:
        name:
          type: string
          description: Automation display name
        description:
          type: string
        steps:
          type: array
          items:
            $ref: '#/components/schemas/AutomationStep'
    Automation:
      allOf:
        - $ref: '#/components/schemas/AutomationRequest'
        - type: object
          properties:
            id:
              type: string
            status:
              type: string
              enum: [active, inactive]
            trigger_count:
              type: integer
              description: Number of times triggered
            success_count:
              type: integer
            error_count:
              type: integer
            created_at:
              type: string
              format: date-time
            updated_at:
              type: string
              format: date-time
    AutomationList:
      type: object
      properties:
        total:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/Automation'
    Execution:
      type: object
      properties:
        id:
          type: string
        automation_id:
          type: string
        status:
          type: string
          enum: [success, error, running]
        started_at:
          type: string
          format: date-time
        finished_at:
          type: string
          format: date-time
        error_message:
          type: string
        steps_completed:
          type: integer
    ExecutionList:
      type: object
      properties:
        total:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/Execution'
