openapi: 3.0.3
info:
  title: Albato Automations Apps Executions API
  description: REST API for managing automation workflows in the Albato no-code integration platform. Supports creating, reading, updating, enabling, and disabling multi-step automation workflows that connect 1,000+ apps.
  version: 1.0.0
  contact:
    name: Albato Support
    url: https://albato.com
servers:
- url: https://albato.com/api/v1
  description: Albato API
security:
- ApiKeyAuth: []
tags:
- name: Executions
  description: Monitor automation execution history
paths:
  /automations/{id}/executions:
    get:
      operationId: listExecutions
      summary: List automation executions
      description: Returns execution history for a specific automation.
      tags:
      - Executions
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
      - name: status
        in: query
        schema:
          type: string
          enum:
          - success
          - error
          - all
          default: all
      - name: limit
        in: query
        schema:
          type: integer
          default: 20
      responses:
        '200':
          description: List of executions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExecutionList'
components:
  schemas:
    Execution:
      type: object
      properties:
        id:
          type: string
        automation_id:
          type: string
        status:
          type: string
          enum:
          - success
          - error
          - running
        started_at:
          type: string
          format: date-time
        finished_at:
          type: string
          format: date-time
        error_message:
          type: string
        steps_completed:
          type: integer
    ExecutionList:
      type: object
      properties:
        total:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/Execution'
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: API key for Albato account access
